
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #b0b318, #e6dddc);
}

.container {
  text-align: left;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.texto-adicional {
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  color: #555;
}

input,
select {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button {
  padding: 10px;
  margin-top: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.regresar {
  background-color: #6c757d;
}

button.enviar {
  background-color: #28a745;
}

button.imprimir {
  background-color: #007bff;
}

button:hover {
  opacity: 0.9;
}
